{% extends "ShapeHtml/wrapper.html" %}
{% load staticfiles %}

{% block title %}

О нас

{% endblock %}

{% block content %}

    <div class="col-xs-0 col-md-1  col-xl-1 col-sm-0"></div>

<div class="container col-md-9" >

<p><h1> О Нас </h1></p>


<h3 style="color:white;" align="left">
    Всем привет мы команда Raptor Games ('Раптер геймс') , мы маленькая компания из 3 человек
</h3>
<h2 style="color:white;" align="left">
    Художник <br>
    Программист <br>
    Программист <br>
</h2>
<h3 style="color:white;" align="left">
    Мы создаем игры для Андроида и для Десктопов(компьютеров,ноутбуков)
</h3>
<p><h1> О Сайте </h1></p>
<h3 style="color:white;" align="left">
    На главной отображаються все новости из мира IT и просто интересные статьии
</h3>

<h3 style="color:white;" align="left">
    Игры: здесь появляються наши законченные проекты и ссылки на них первые проекты будут беслатные но в будующем планируеться полный проект
</h3>
<h3 style="color:white;" align="left">
    Проекты: здесь вы сможите отсматривать что нового в нашей компании <br>
    Как развиваються наши проекты
</h3>
<p><h1> Связаться с нами </h1></p>
<div class="container"  id="Ratings">
<h2 align="left">Группа вк</h2> <a><img  src="{% static 'MainPage/image/вк.png' %}" > </a>
</div>
<div class="container"  id="Ratings">
<h2 align="left">Контакт с главным или можите написать любому из нас</h2> <a href="https://vk.com/id354006744"><img  src="{% static 'MainPage/image/Вк.png' %}" > </a>
</div>
<div class="container"  id="Ratings">
<h2 align="left">Наш паттреон можите задоннатить нам и получать самые новые релизы</h2>  <a><img  src="{% static 'MainPage/image/Патреон.png' %}" > </a>
</div>
<div class="container"  id="Ratings">
<h2 align="left">Канал на ютубе</h2> <a href="https://www.youtube.com/channel/UChnq246zZw47suB0P5aJx-g"><img  src="{% static 'MainPage/image/Ютуб.png' %}" > </a>
</div>
</div>
<div class="col-xs-0 col-md-1  col-xl-1 col-sm-0"></div>


{% endblock %}