{% extends "ShapeHtml/wrapper.html" %}
{% load staticfiles %}

{% block title %}

Подтверждения

{% endblock %}

{% block content %}

<div class="container">

    <h1>Мы отправили Письмо на вашь Email , там ваши Данные чтобы вы не забыли</h1>
    <h2>Подтвердите Теперь вам необходимо перейти в "Войти" иПросто залогиниться на сайте  </h2>

               <h2> А теперь клик сюда <a  href="#"  id="myBtn"> <img style="  display: block;
              margin: 0 auto;" src="{% static 'MainPage/image/Войти.png' %}" >  </a></h2>

</div>

{% endblock %}
